.txt{
display: inline-block;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  animation: 15s word linear infinite normal;
  
  margin-bottom: 50px;
border:1px solid #1b1b1b
}
@keyframes word{
  0%{
    transform: translateX(1900px);
    -webkit-transform: translateX(1900px);
    /* opacity: 1; */
  }
  75%{
    /* opacity: 1; */
  }
  100%{
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    /* opacity: 0; */
  }
}
@-webkit-keyframes word{
  0%{
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
  }
  100%{
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
  }
}


.txt2{
  display: inline-block;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    animation: 15s word2 linear infinite normal;
    transform: translateY(50px);
    margin-bottom: 50px;
  border:1px solid #1b1b1b;
  background-color: #1b1b1b;
  }
  @keyframes word2{
    0%{
      transform: translateX(2200px);
      -webkit-transform: translateX(2200px);
      /* opacity: 1; */
    }
    75%{
      /* opacity: 1; */
    }
    100%{
      transform: translateX(-300px);
      -webkit-transform: translateX(-300px);
      /* opacity: 0; */
    }
  }

  .txt3{
    display: inline-block;
      padding: 20px;
      border-radius: 10px;
      font-size: 20px;
      color: rgb(0, 0, 0);
      white-space: nowrap;
      animation: 15s  word3 linear infinite normal;
      transform: translateY(50px);
      margin-bottom: 50px;
    border:1px solid #1b1b1b;
    background-color: rgb(0, 255, 55);
    }
    @keyframes word3{
      0%{
        transform: translateX(2300px);
        -webkit-transform: translateX(2300px);
        /* opacity: 1; */
      }
      
      100%{
        transform: translateX(-700px);
        -webkit-transform: translateX(-700px);
        /* opacity: 0; */
      }
    }
