.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 20px 0;
}

.text {
  /* font-size: 18px; */
  /* padding: 10px 0; */
  text-align:start;
  padding: 10px 0px 10px 20px;
  transition: background-color 0.3s; 
  cursor: pointer; 
  border-radius: 5px;

}


.textSmall {
  width: 520px;
}

.textMedium {
  width: 220px;
}

.textLarge {
  width: 340px;
  width: 15vw;
}


.text:hover {
  background-color: #000000; 
  color: var(--basecolor);
  /* padding: 10px 20px; */
  border-top: 1px solid black; 
  border-bottom: 1px solid black; 
  border-radius: 5px;
  
}

.input {
  font-size: 18px;
  padding: 10px 0px 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none; 
  text-align: start;
}