.button-container {
  display: flex;
  align-items: center;
}
.button {
  font-size: 20px;
  cursor: pointer;
  
}

/* hover效果，兩個按鈕共用 */
.show-button:hover,
.hidden-button:hover {
  background-color: black;
  color: var(--basecolor);
}

/* 顯示狀態的樣式 */
.show-button {
  background-color: transparent;
  color: black;
  border: 2px solid #686868;
  border-radius: 5px;
}

/* 隱藏狀態的樣式 */
.hidden-button {
  background-color: #D8DBD8;
  color: #686868;
  border: 2px solid #686868;
  border-radius: 5px;
}

/* 大尺寸按鈕 */
.large {
  width: 150px;
  height: 45px;
}

.medium {
  width: 60px;
  height: 60px;
}

/* 小尺寸按鈕 */
.small {
  width: 125px;
  height: 40px;
}

.large .show-button {
background-color: black
;}