.member-pw {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 120px); */
  width: 100%;
  margin-top: 100px;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.pw-nav {
  flex: 2;
}

.main-container {
  flex: 8;
  /* justify-content: flex-start; */
}

.pw-main {
  flex: 8;
  /* background-color: #000; */
  height: 100%;
  position: relative;
  /* background-image: url("/image/img-Jade/mem-bgImg.png"); */
  background-repeat: no-repeat;
  background-position: 60% 80%;
  
}
.main-title {
  width: 100%;
  font-weight: bold ;
  text-align: left; 
  padding: 0 150px;
  margin-bottom: 50px;
  

}

.main-body{
  display: flex;
  flex-direction: column;
  width: 70%;
  
}

.body-sec{
  padding: 50px 150px;

}

.body-title {
  text-align: left;
  padding: 0 20px;
  
}

.body-input{
  display: flex;
  flex-direction: row;
  text-align: left;
padding: 10px 0;

}