/* favorites.module.css */
.member-fav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  width: 100%;
  background: linear-gradient(180deg, #fff 65%, #84ff79 90%, #14ff00);
}
.container {
  display: flex;
  height: 80%;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.favNav {
  flex: 2;
}

.favMain {
  flex: 8;
  /* background-color: #000; */
  height: 80%;
}

.mainTitle {
  width: 100%;
  font-weight: bold;
  display: flex;
  margin: 0 70px 70px;
  /* align-items: flex-start; */
}

.mainBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-around; */
  /* margin: 50px; */
  /* padding: 50px; */
}

.favInfo {
  display: flex;
  flex-direction: row;
  margin:20px 70px;
  align-items: center;
}

.info1 {
  display: flex;
  flex-direction: row;
  
}

.favIcon {
  margin-right:20px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 样式内容 */
}

.photo {
  width: 100%; /* 確保照片填滿容器 */
  height: 100%;
  object-fit: cover; /* 確保照片不變形 */
}

.favName {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 样式内容 */
}
