/* favorites.module.css */
.member-fav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  width: 100%;
  background: linear-gradient(180deg, #fff 65%, #84ff79 90%, #14ff00);
}
.container {
  display: flex;
  height: 80%;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.favNav {
  flex: 2;
}

.favMain {
  flex: 8;
  /* background-color: #000; */
  /* border: 1px solid #ddd; */
  height: 80%;
}

.mainTitle {
  width: 100%;
  font-weight: bold;
  display: flex;
  padding: 0 70px;
  margin-bottom: 70px;
  /* align-items: flex-start; */
}

.mainBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-around; */
  margin: 50px;
  /* padding: 50px; */
  max-height: 70%; /* 設置容器最大高度，視需求調整 */
  overflow-y: scroll; /* 當內容超過高度時顯示垂直滾動條 */
  width: 70%;
  /* border: #14ff00 2px solid;  */
  border-radius: 10px;
  

}

/* 捲軸寬度和高度（垂直和水平捲軸） */
.mainBody::-webkit-scrollbar {
  width: 15px; /* 垂直捲軸寬度 */
  height: 8px; /* 水平捲軸高度（如果需要） */
}

/* 捲軸軌道的樣式 */
.mainBody::-webkit-scrollbar-track {
  background: var(--gray-2); /* 軌道背景色 */
  border-radius: 5px; /* 軌道圓角 */
  border: var(--basecolor) 2px solid; /* 軌道邊框*/
}

/* 捲軸滑塊的樣式 */
.mainBody::-webkit-scrollbar-thumb {
  background: var(--gray-1); /* 滑塊顏色 */
  border-radius: 5px; /* 滑塊圓角 */
  /* border: black 2px solid; 軌道邊框 */

}

/* 當滑塊被懸停時的樣式 */
.mainBody::-webkit-scrollbar-thumb:hover {
  background: var(--basecolor); /* 滑塊懸停顏色 */
}
/* ------------------------------ */
.favInfo {
  display: flex;
  flex-direction: row;
  margin: 15px 70px;
  align-items: center;
}

.favInfo:hover {
  cursor: pointer;
  background-color: black;
  color: var(--basecolor);
  border-radius: 5px;
  margin: 15px 70px;
  box-shadow: 0 0 0 10px black;

}

.info1 {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.favIcon {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 样式内容 */
}

.photo {
  width: 100%; /* 確保照片填滿容器 */
  height: 100%;
  object-fit: cover; /* 確保照片不變形 */
}

.favName {
  display: flex;
  justify-content: center;
  align-items: center;
padding: 20px 150px 20px 10px;}

.favGenre{
  width: 150px;
}